.btn {
  &.orange,
  &.blue {
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    width: 120px;
    background-color: $color--orange;
    border-radius: 24px;
    padding: 8px 0;
    color: $color--white;
    font-weight: $font-weight--normal;
    letter-spacing: 1;
    outline: 0;
    cursor: pointer;
  }

  &.lead,
  &.lead-back {
    background-color: transparent;
    border: 2px solid $color--blue-light;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 24px;
    font-weight: $font-weight--normal;
    cursor: pointer;
    width: 140px;
    padding: 16px 0;
    display: inline-block;
    color: $color--white;
    letter-spacing: 1;
    transition: 0.3s;

    &:hover {
      background-color: $color--blue-light;
      transition: 0.3s;
    }
  }

  &.blue {
    background-color: $color--blue-light;
  }

  &.forgot,
  &.signup-mobile,
  &.login-mobile,
  &.back-login {
    display: inline-block;
    text-align: center;
    margin: 16px 0;
    text-decoration: none;
    color: $color--gray;
    font-weight: $font-weight--normal;
    font-size: 12px;
    float: right;
  }

  &.userlogout {
    float: inherit;
    display: block;
  }

  &.login-mobile,
  &.back-login {
    display: block;
    float: inherit;
  }

  &.signup-mobile {
    float: left;
  }
}

@include desktop {
  .btn {
    &.signup-mobile,
    &.login-mobile {
      display: none;
    }

    &.orange,
    &.blue {
      display: inline-block;
      padding: 16px 0;
      width: 140px;
      transition: 0.3s;
    }

    &.userlogout {
      float: right;
      display: inline-block;
    }

    &.orange:hover {
      background-color: $color--orange-light;
      transition: 0.3s;
    }

    &.forgot {
      font-size: 16px;
    }

    &.back-login {
      display: inline-block;
      float: right;
      font-size: 16px;
    }
  }
}
