$color--white: #fff;

$color--orange: #f89a35;
$color--orange-light: #f8Bf35;

$color--blue-light: #49abfe;
$color--blue: #1b2347;

$color--gray: #3e495e;
$color--gray-light: #cbd2df;
$color--gray-regular: #8495b7;
$color--red: #f44368;
$color--gray-middle: #a7b3cb;
