.heading-label {
  position: relative;

  &::after {
    content: url('../images/magebit-logo.png');
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 16px;
    z-index: 20;
  }

  h3 {
    letter-spacing: 1;
    padding: 16px 0;
    font-weight: $font-weight--light;
    margin: 0 0 16px 0;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 48px;
      border-bottom: 2px solid $color--blue-light;
      height: 2px;
      bottom: 0;
    }
  }
}

.container {
  display: block;
  height: 320px;
  width: 266px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .forms-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 35, 71, 0.9);

    .form {
      position: relative;
      margin: 0 24px;
      height: 320px;
      background: white;
      top: -24px;
      background-color: $color--white;
      padding: 24px;
      box-shadow: -24px 0px 0px -12px rgba(73,171,254,0.2);

      &.signup {
        display: none;
      }

      .hidden {
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        position: absolute;
        z-index: -1;
      }

      .visible {
        opacity: 1;
        visibility: visible;
        transition: 0.5s;
        position: absolute;
        z-index: 1;
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover, 
      input:-webkit-autofill:focus, 
      input:-webkit-autofill:active  {
          box-shadow: 0 0 0 30px $color--white inset;
      }

      .input-data {
        margin-bottom: 16px;
        position: relative;

        label {
          font-size: 14px;
          display: block;
          font-weight: $font-weight--normal;
          color: $color--gray;

          .required {
            color: $color--red;
          }
        }

        input {
          background-color: $color--white;
          border: none;
          border-bottom: 1px solid $color--gray-regular;
          outline: 0;
          padding: 8px 0;
          font-size: 14px;
        }

        &.email::after,
        &.password::after,
        &.name::after {
          content: url('../images/ic-lock.png');
          display: block;
          position: absolute;
          width: 24px;
          height: 24px;
          right: 0;
          top: 16px;
        }
      }
    }
  }
}

.messages-container {
  background: $color--white;
  padding: 24px;
  color: $color--red;
  display: none;

  .messages-list {
    font-size: 14px;
    margin: 0;
    padding: 0 0 0 24px;
  }
}
