@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-Regular.ttf");
  src: url("../../fonts/sourcesanspro-regular-webfont.woff") format("woff"); }

html,
body,
form {
  margin: 0;
  padding: 0;
  font-family: "SourceSansPro", sans-serif; }

body {
  background-image: url("../images/magebit-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.heading-label {
  position: relative; }
  .heading-label::after {
    content: url("../images/magebit-logo.png");
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 16px;
    z-index: 20; }
  .heading-label h3 {
    letter-spacing: 1;
    padding: 16px 0;
    font-weight: 300;
    margin: 0 0 16px 0; }
    .heading-label h3::after {
      content: '';
      display: block;
      position: absolute;
      width: 48px;
      border-bottom: 2px solid #49abfe;
      height: 2px;
      bottom: 0; }

.container {
  display: block;
  height: 320px;
  width: 266px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .container .forms-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 35, 71, 0.9); }
    .container .forms-wrapper .form {
      position: relative;
      margin: 0 24px;
      height: 320px;
      background: white;
      top: -24px;
      background-color: #fff;
      padding: 24px;
      box-shadow: -24px 0px 0px -12px rgba(73, 171, 254, 0.2); }
      .container .forms-wrapper .form.signup {
        display: none; }
      .container .forms-wrapper .form .hidden {
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        position: absolute;
        z-index: -1; }
      .container .forms-wrapper .form .visible {
        opacity: 1;
        visibility: visible;
        transition: 0.5s;
        position: absolute;
        z-index: 1; }
      .container .forms-wrapper .form input:-webkit-autofill,
      .container .forms-wrapper .form input:-webkit-autofill:hover,
      .container .forms-wrapper .form input:-webkit-autofill:focus,
      .container .forms-wrapper .form input:-webkit-autofill:active {
        box-shadow: 0 0 0 30px #fff inset; }
      .container .forms-wrapper .form .input-data {
        margin-bottom: 16px;
        position: relative; }
        .container .forms-wrapper .form .input-data label {
          font-size: 14px;
          display: block;
          font-weight: 600;
          color: #3e495e; }
          .container .forms-wrapper .form .input-data label .required {
            color: #f44368; }
        .container .forms-wrapper .form .input-data input {
          background-color: #fff;
          border: none;
          border-bottom: 1px solid #8495b7;
          outline: 0;
          padding: 8px 0;
          font-size: 14px; }
        .container .forms-wrapper .form .input-data.email::after, .container .forms-wrapper .form .input-data.password::after, .container .forms-wrapper .form .input-data.name::after {
          content: url("../images/ic_lock.png");
          display: block;
          position: absolute;
          width: 16px;
          height: 16px;
          right: 0;
          top: 16px; }
        .container .forms-wrapper .form .input-data.email::after {
          content: url("../images/ic_mail.png"); }
        .container .forms-wrapper .form .input-data.name::after {
          content: url("../images/ic_user.png"); }
        .container .forms-wrapper .form .input-data.email.active::after {
          content: url("../images/ic_mail1.png"); }
        .container .forms-wrapper .form .input-data.password.active::after {
          content: url("../images/ic_lock1.png"); }
        .container .forms-wrapper .form .input-data.name.active::after {
          content: url("../images/ic_user1.png"); }

.messages-container {
  background: #fff;
  padding: 24px;
  color: #f44368;
  display: none; }
  .messages-container .messages-list {
    font-size: 14px;
    margin: 0;
    padding: 0 0 0 24px; }

.forms-background-wrapper {
  display: none; }

@media (min-width: 991px) {
  .forms-background-wrapper {
    display: block;
    position: absolute;
    color: white;
    z-index: 1; }
  .container {
    width: 900px;
    height: 400px; }
    .container .signup-section-info,
    .container .login-section-info {
      width: 50%;
      display: inline-block;
      float: left;
      height: 400px; }
      .container .signup-section-info .section,
      .container .login-section-info .section {
        margin: 56px 109px 0 56px; }
        .container .signup-section-info .section h3,
        .container .login-section-info .section h3 {
          font-size: 24px;
          font-weight: 300;
          margin: 0 0 24px 0;
          padding: 0 0 24px 0;
          position: relative; }
          .container .signup-section-info .section h3::after,
          .container .login-section-info .section h3::after {
            content: '';
            height: 2px;
            background-color: #49abfe;
            width: 48px;
            position: absolute;
            display: block;
            bottom: 0; }
        .container .signup-section-info .section p,
        .container .login-section-info .section p {
          line-height: 32px;
          font-weight: 600;
          font-size: 15px;
          margin: 0 0 24px 0; }
    .container .login-section-info {
      float: right; }
      .container .login-section-info .section {
        margin: 56px 56px 0 109px; }
    .container .forms-wrapper .form {
      width: 351px;
      height: 256px;
      float: right;
      padding: 96px 64px;
      transition: 0.5s;
      z-index: 1; }
      .container .forms-wrapper .form .inner-element {
        width: 351px; }
        .container .forms-wrapper .form .inner-element .input-data {
          margin-bottom: 24px; }
          .container .forms-wrapper .form .inner-element .input-data input {
            width: 100%; }
          .container .forms-wrapper .form .inner-element .input-data label {
            color: #8495b7; }
      .container .forms-wrapper .form.forgot {
        float: inherit;
        margin: 0 auto; }
  .heading-label h3 {
    font-size: 24px;
    margin: 0 0 24px 0;
    padding: 0 0 24px 0;
    color: #3e495e; } }

.btn.orange, .btn.blue {
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  width: 120px;
  background-color: #f89a35;
  border-radius: 24px;
  padding: 8px 0;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1;
  outline: 0;
  cursor: pointer; }

.btn.lead, .btn.lead-back {
  background-color: transparent;
  border: 2px solid #49abfe;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 24px;
  font-weight: 600;
  cursor: pointer;
  width: 140px;
  padding: 16px 0;
  display: inline-block;
  color: #fff;
  letter-spacing: 1;
  transition: 0.3s; }
  .btn.lead:hover, .btn.lead-back:hover {
    background-color: #49abfe;
    transition: 0.3s; }

.btn.blue {
  background-color: #49abfe; }

.btn.forgot, .btn.signup-mobile, .btn.login-mobile, .btn.back-login {
  display: inline-block;
  text-align: center;
  margin: 16px 0;
  text-decoration: none;
  color: #3e495e;
  font-weight: 600;
  font-size: 12px;
  float: right; }

.btn.login-mobile, .btn.back-login {
  display: block;
  float: inherit; }

.btn.signup-mobile {
  float: left; }

@media (min-width: 991px) {
  .btn.signup-mobile, .btn.login-mobile {
    display: none; }
  .btn.orange, .btn.blue {
    display: inline-block;
    padding: 16px 0;
    width: 140px;
    transition: 0.3s; }
  .btn.orange:hover {
    background-color: #f8Bf35;
    transition: 0.3s; }
  .btn.forgot {
    font-size: 16px; }
  .btn.back-login {
    display: inline-block;
    float: right;
    font-size: 16px; } }
